.mainContent {
  flex: 0.9;
  .safeDay {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #00ffff;
    .day {
      font-size: 72px;
      margin: 0 15px;
      span {
        margin: 0 7.5px;
      }
    }
  }
  .serviceInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    padding: 5px 0;
    box-sizing: border-box;
    font-size: 18px;
    color: #00ffff;
    background-image: linear-gradient(to right, #061c36, #07325d, #061c36);

    .serviceItme {
      display: flex;
      // align-items: center;
      .num {
        font-size: 26px;
        padding-left: 5px;
        width: 50px;
        height: 10px;
      }
    }
    .failItem {
      display: flex;
      color: #ff2a00;
      .num {
        color: #00ffff;
        padding-left: 5px;
        width: 50px;
        height: 10px;
      }
    }
  }

  .serverWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 45%;
    margin-top: 50px;
    background-image: url('https://other-jk-project.oss-cn-beijing.aliyuncs.com/%E4%B8%AD%E5%BF%83%E8%83%8C%E6%99%AF.png');
    background-size: 100% 100%;
    .serverList {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 80%;
      margin: 0 auto;
      .serverItem {
        width: 150px;
        height: 40px;
        margin: 10px 20px;
        // padding: 0 10px;
        box-sizing: border-box;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        color: #fff;
        background-repeat: no-repeat;
        background-image: url(https://other-jk-project.oss-cn-beijing.aliyuncs.com/%E6%9C%8D%E5%8A%A1%E8%83%8C%E6%99%AF.png);
        cursor: pointer;
      }
    }
    .robList {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
      margin: 20px auto 40px;
      .robItem {
        width: 23%;
        height: 50px;
        margin: 10px 20px;
        box-sizing: border-box;
        text-align: center;
        line-height: 50px;
        font-size: 10px;
        color: #fff;
        background-repeat: no-repeat;
        background-image: url(https://other-jk-project.oss-cn-beijing.aliyuncs.com/%E7%A1%AC%E4%BB%B6%E8%83%8C%E6%99%AF.png);
        background-size: 100% 100%;
        cursor: pointer;
      }
    }
  }

  .sslInfo{
    width: 100%;
    height: 300px;
  }
}
